@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css");

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
}

main {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: #232c41;
    font-family: "Poppins", sans-serif;
}

main > nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #141b2b;
    background-color: #2a3655;
}

main > nav > img {
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
}

main > nav > img:hover {
    filter: brightness(110%);
}

main > nav > section.buttons {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

main > article.frame {
    position: absolute;
    color: #cecece;
    width: 100%;
    height: calc(100% - 50px);
    padding: 27px 27px 27px 27px;
}

main > article.frame > h1 {
    font-weight: 500;
}

main > nav > section.buttons > button {
    margin-left: 5px;
    margin-right: 5px;
}

.quzah {
    font-weight: 700;
    color: #c98423;
}

button {
    height: 30px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: #cecece;
    cursor: pointer;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    transition: .3s;
}

button > i {
    margin-right: 5px;
}

button:hover {
    color: #ffffff;
    background-color: #ffffff13;
}

input {
    margin-top: 4px;
    margin-bottom: 5px;
    border: none;
    height: 30px;
    outline: none;
    padding: 0px 10px;
    min-width: 300px;
    border-radius: 5px;
    color: #cecece;
    background-color: #202738;
}

button.primary {
    background-color: #c98423;
    color: #dddddd;
}

button.primary:hover {
    filter: brightness(120%);
}

a {
    color: #c98423;
    text-decoration: none;
}

a:hover {
    color: #e09429 !important;
    text-decoration: underline;
}